/* body {
    background-color: white;
    font-family: sans-serif;
    margin: 0 auto;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.4em;
    margin-top: 0;
    padding-top: 20px;
    letter-spacing: .8em;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.8em;
    letter-spacing: .4em;
    font-weight: 100;
}

.row {

    display: flex;
    justify-content: space-evenly;
}

.imagelink {
    background-color: aquamarine;
    width: 25%;
    height: 80%;
    margin: 2%;
    border: 3px solid black;
    transition-property: border-radius;
    transition-duration: .75s;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    margin: 0;
    padding: 0;
    transition-property: border-radius;
    transition-duration: .75s;
}

img:hover {
    border-radius: 25px;
}

.imagelink:hover {
    background-color: cadetblue;
    border: 3px solid lightgrey;
    border-radius: 25px;
}

p {
    font-size: 1.3em;
    margin: 0;
    padding: .5em;
}

@media (max-width:900px) {
    #allofit {
        display: block;
    }

    .row {
        display: block;
    }

    .imagelink {
        width: 80%;
    }


} */

body {
    background-color: white;
    font-family: sans-serif;
    margin: 0 auto;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.4em;
    margin-top: 0;
    padding-top: 20px;
    letter-spacing: .8em;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.8em;
    letter-spacing: .4em;
    font-weight: 100;
}

#nav
    {
    text-align:center;
    margin-bottom:20px;
    }

.navitem {
    display:inline;
    margin:0 30px;
    text-transform:uppercase;
    letter-spacing: .4em;
}

a {
    text-decoration:none;
    color: black;
}

a:hover {
    color: grey;
}

#container {
    width: 90%;
    height: 200px;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#container div {
    width:400px;
    height: 300px;
    flex-basis:400px;
    margin:8px;
}

.linky {
    border: 5px solid grey;
    border-radius: 10%;
}

.linky:hover {
    border: 5px solid black;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border-radius: 8%;
}

@media (max-width:800px)
    {
        .navitem {
            display:block;
            margin-bottom:8px;
        }
    }